/* Typography */
body {

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #6d2424;

}

h1, h2, h3 {
    font-family: 'Abril Fatface', cursive;
    color: #0f0f3d;
}


/* Layout */

/* Media */